<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1256">
<title>Administrator Page</title>
</head>
<body>

<h1><font size="300">Welcome to Your Home Page</font></h1><br></br>

<form action="addAdministrator">
<h3>If you want to add administrator, Click
<button type="submit" value="Add Administrator"> Add Administrator </button></h3>
</form>

<form action="addAdministratorCollaborators">
<h3>If you want to add administrator collaborator, Click
<button type="submit" value="Add Administrator Collaborator"> Add Administrator Collaborator 
</button></h3>
</form>

<form action="addStoreowner">
<h3>If you want to add Store Owner, Click
<button type="submit" value="Add Store Owner"> Add Store Owner </button></h3>
</form>

<form action="addCustomer">
<h3>If you want to add Customer, Click
<button type="submit" value="Add Customer"> Add Customer </button></h3>
</form>

<form action="addStore">
<h3>If you want to add Store, Click
<button type="submit" value="Add Store"> Add Store </button></h3>
</form>

<form action="addProduct">
<h3>If you want to add Product, Click
<button type="submit" value="Add Product"> Add Product </button></h3>
</form>

<form action="addBrand">
<h3>If you want to add Brand, Click
<button type="submit" value="Add Brand"> Add Brand </button></h3>
</form>

<form action="StatisticsPage">
<h3>If you want to add statistics, Click
<button type="submit" value="Statistics Page"> Add Statistics</button></h3>
</form>

<form action="index">
<h3>If you want to Logout, Click
<button type="submit" value="Logout"> Logout </button></h3>
</form>

</body>
</html>