<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Administrator Page</title>
</head>
<body>

<h1><font size="300">Welcome to Administrator Page</font></h1><br></br>

<form action="loginAdministrator">
<h2>If you want to login into your account, Click 
<button type="submit" value="Login Administrator"> Login </button></h2>
</form><br></br>

<form action="SignupAdministrator">
<h2>If you want to have account, Click
<button type="submit" value="Signup Administrator"> Signup </button></h2>
</form><br></br>

<form action="index">
<h3>If you want to Back Home, Click
<button type="submit" value="Back"> Back </button></h3>
</form>

</body>
</html>