<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home Page</title>
</head>
<body>

<h1><font size="300">Welcome to Online Store Platform Website</font></h1>
	<br></br>

<form action="AdministratorPage.html">
<h2><b>If you an Administrator
<button type="submit" value="Submit"> Administrator Page </button></b></h2>
</form>
	<br></br>

<form action="StoreOwnerPage.html">
<h2><b>If you a Store Owner
<button type="submit" value="Submit"> StoreOwner Page</button></b></h2>
</form>
	<br></br>

<form action="CustomerPage.html">
<h2><b>If you a Customer
<button type="submit" value="Submit"> Customer Page </button></b></h2>
</form>

</body>
</html>