<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1256">
<title>Login Administrator Page</title>
</head>
<body>

<h1><font size="300">Login Store Owner Page</font></h1><br></br>

<form action="StoreOwnerHomePage">
<h2>Your E-mail <input type="text" /></h2><br>
<h2>Your Password <input type="password" /></h2><br>
<button type="submit" value="Login"> Login </button>
</form>

<form action="index">
<h3>If you want to Back home, Click
<button type="submit" value="Back"> Back </button></h3>
</form>

</body>
</html>