<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1256">
<title>Signup Store Owner Page</title>
</head>
<body>

<h1><font size="300">Signup Store Owner</font></h1><br></br>

<form action="loginStoreOwner">
<h2>Your Name <input type="text" /></h2>
<h2>Your Phone <input type="number" /></h2>
<h2>Your Address <input type="text" /></h2>
<h2>Your Age <input type="number" /></h2>
<h2>Your Gender <input type="text" /></h2>
<h2>Your E-mail <input type="text" /></h2>
<h2>Your Password <input type="password" /></h2>
<button type="submit" value="Signup"> Signup </button>
</form><br></br>

<form action="index">
<h3>If you want to Back Home, Click
<button type="submit" value="Back"> Back </button></h3>
</form>


</body>
</html>