<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>StoreOwner Page</title>
</head>
<body>

<h1><font size="300">Welcome to Store Owner Page</font></h1><br></br>

<form action="loginStoreOwner">
<h2>If you want to login into your account, Click 
<button type="submit" value="Login Store Owner"> Login </button></h2>
</form><br></br>

<form action="SignupStoreOwner">
<h2>If you want to Signup, Click
<button type="submit" value="Signup Store Owner"> Signup </button></h2>
</form><br></br>

<form action="index">
<h3>If you want to Back home, Click
<button type="submit" value="Back"> Back </button></h3>
</form>

</body>
</html>